<div class="select-div" *ngIf="playersArray">
    <form [formGroup]="form">
        <mat-form-field>
            <input
                id="player-select"
                type="text" 
                matInput 
                class="player-select" 
                [formControl]="control" 
                formControlName="selectedPlayer" 
                [matAutocomplete]="auto" 
                placeholder="select a player..."
                >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction">
                <mat-option *ngFor="let player of filteredPlayersArray" [value]="player">
                    {{ player.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button type="submit" class="submit-btn" (click)="onSubmit()" [disabled]="winner || form.invalid">SUBMIT</button>
    </form>
    <br>
    <p>Guess the Premier League player</p>
    <p>({{ guesses.length }}) of (8) </p>
    <form>
    </form>
</div>
