.menu-modal-backdrop {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-modal {
    width: 80vw;
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}