.menu-modal-backdrop {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-modal {
    width: 80vw;
    height: 50vh;
    background-color: white;
    position: relative;
}

.legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
    position: relative;
    flex-direction: column;
}

.header {
    text-align: center;
    position: relative;
    top: 0px;
    margin: 3rem;
}

.menu-modal p {
    margin: 0.5rem;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: #ffff80;
}

.legend-option {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.box {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}