.game-result-modal-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(153, 153, 153, 0.7);
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-result-container {
    background-color: white;
    height: 20vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    text-align: center;
}

@media screen and (max-height: 1000px){
    .game-result-container {
        height: 30vh;
    }
}