* {
    text-align: center;
}

.table {
    width: 70vw;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 15vh;
}

td, th {
    border: 1px solid black;
    padding: .75rem;
    width: 10%;
    height: 5vh;
}

.header-row {
    background-color: darkred;
}

.header-row th {
    color: white;
    height: auto;
}

.correct {
    background-color: lightgreen;
}

.close {
    background-color: #ffff80;
}

.small-col {
    width: 5%;
}

.crest {
    height: 5vh;
}

@media screen and (max-width: 700px) {
    .table {
        width: 90vw;
        max-width: 750px;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .table {
        width: 80vw;
        max-width: 750px;
    }
}


@media screen and (min-width: 900px) {
    .table {
        width: 80vw;
        max-width: 750px;
    }
}