<div class="test">
  <table class="table" *ngIf="guesses.length > 0">
    <tr class="row header-row">
      <th>CLUB</th>
      <th>NAME</th>
      <th>NATL</th>
      <th>POS</th>
      <th>AGE</th>
    </tr>
    <tr *ngFor="let guess of guesses">
      <td [ngClass]="guess.club === answer.club ? 'correct' : ''">
        <img [src]="guess.crest" [alt]="guess.name" class="crest" />
      </td>
      <td [ngClass]="guess.name === answer.name ? 'correct' : ''">
        {{ guess.name }}
      </td>
      <td
        [ngClass]="
          guess.nationality === answer.nationality
            ? 'correct'
            : this.checkContinent(guess.nationality) ===
              this.checkContinent(answer.nationality)
            ? 'close'
            : ''
        "
      >
        {{ guess.nationality }}
      </td>
      <td [ngClass]="guess.position === answer.position ? 'correct' : ''">
        {{ guess.position }}
      </td>
      <td
        [ngClass]="
          guess.age === answer.age
            ? 'correct'
            : guess.age - answer.age <= 2 && guess.age - answer.age >= -2
            ? 'close'
            : ''
        "
      >
        {{ guess.age }}
      </td>
    </tr>
    <tr *ngIf="loser">
      <td [ngClass]="loser ? 'wrong' : ''">
        <img [src]="answer.crest" [alt]="answer.name" class="crest" />
      </td>
      <td [ngClass]="loser ? 'wrong' : ''">{{ answer.name }}</td>
      <td [ngClass]="loser ? 'wrong' : ''">{{ answer.nationality }}</td>
      <td [ngClass]="loser ? 'wrong' : ''">{{ answer.position }}</td>
      <td [ngClass]="loser ? 'wrong' : ''">{{ answer.age }}</td>
    </tr>
  </table>
</div>
